
/* Apply Lato font everywhere */
body {
    font-family: "Lato", sans-serif;
}

.theme-navbar{
    background-color:#0066CC ;
}
.theme-navbar2{
    background-color:#87bef6 ;
}
.foot-color{
     background-color:#0066CC ;

}


.btn-cart {
    background-color: orange;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
}

/* Hover Effect */
.btn-cart:hover {
    background-color:black;  /* darker orange */
    color: white;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    transform: translateY(-2px); /* small lift */
}


.btn-login{
    background-color: green;

    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;

}
/* Hover Effect */
.btn-login:hover {
    background-color: black;  /* darker orange */
    color: white;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    transform: translateY(-2px); /* small lift */
    opacity: 1;
}


.carousel-item {
    position: relative;
    height: 450px;
    overflow: hidden;
    background-color: black;
}

/* Blurred background */
.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(20px) brightness(0.6);
    z-index: 1;
}

/* Main image */
/* .carousel-item img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;

    object-fit: contain;  
} */

.carousel-item img {
    height: 500px;     /* adjust height as you like */
    object-fit: cover; /* keeps good quality */
    border-radius: 10px;
}

/* for side bar----------- */


 .sidebar {
            background: #000;
            color: white;
            height: 100vh;
            padding: 20px;
        }
        .sidebar a {
            color: white;
            display: block;
            padding: 8px 0;
            text-decoration: none;
        }
        .card-custom {
            padding: 20px;
            border-radius: 10px;
            color: white;
        }
        .card-orders { background: #007bff; }
        .card-sales { background: #f0ad4e; }
        .card-pending { background: #d9534f; }

        .sidebar ul{
    list-style: none;
    padding-left: 0;
}



